{% extends "base-nav.html" %}

{% block maincontent %}
<div class="container d-flex flex-column align-items-center" style="position: relative; padding-top: 50px;">
    <div class="background-color"></div>

    <div class="d-flex justify-content-center align-items-center">
        <div class="">
            <a href="{% url 'profile' %}"><img width="150" class="circle-profile-image rounded-circle" alt="50x50" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                data-holder-rendered="true"></a>

            <div class="text-center">
                <strong><p>{{ user }}</p></strong>
            </div>
        </div>
    </div>
    <div class="container about-me">
        <p>This is some text.</p>
    </div>

    <div class="my-songs container d-flex flex-wrap">

    </div>
    <script>
        let songs = {{ ser_songs|safe }};
        let my_songs_container = document.querySelector('.my-songs');
        let all_waveforms = [];

        songs = JSON.parse(songs);
        for(let i = 0; i < songs.length; i++){

            let holder = document.createElement('div');
            let parent_holder = document.createElement('div');
            let cover = document.createElement('img');

            cover.classList.add('waveform-cover');
            cover.src = '/media/' + songs[i].fields.image;
            holder.style.width = '92%';
            holder.id = 'waveform'+i
            holder.classList.add('waveform-container');
            parent_holder.append(cover);
            parent_holder.append(holder);
            parent_holder.classList.add('waveform-container-parent');
            my_songs_container.append(parent_holder);

            song = songs[i].fields;
            // Creating a wave for a song
            var wavesurfer = WaveSurfer.create({
                container: '#waveform'+i,
                scrollParent: false,
                barWidth: 3,
                barHeight: 1, // the height of the wave
                barGap: null,
                height: 50,
                fillParent: true,
                responsive: false
            });

            wavesurfer.load("http://127.0.0.1:8000/media/" + songs[i].fields.audio);
        };

        for(let o = 0; o < all_waveforms.length; o++){
            console.log(all_waveforms[o].cover);
        }


    </script>
</div>
{% endblock %}