{% extends "base-nav.html" %}

{% block maincontent %}
<div class="container d-flex flex-column align-items-center" style="position: relative; padding-top: 50px;">
    <div class="background-color"></div>

    <div class="d-flex justify-content-center align-items-center">
        <div class="">
            <a href="{% url 'profile' %}"><img width="150" class="circle-profile-image rounded-circle" alt="50x50" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                data-holder-rendered="true"></a>

            <div class="text-center">
                <strong><p>{{ user }}</p></strong>
            </div>
        </div>
    </div>
    <div class="container about-me">
        <p class="play-from">PLAY FROM HERE</p>
    </div>

    <div class="my-songs container d-flex flex-wrap">

    </div>
    <script>
        let songs = {{ ser_songs|safe }};
        let my_songs_container = document.querySelector('.my-songs');
        let all_waveforms = [];
        songs.reverse();

        for(let i = 0; i < songs.length; i++){

            let holder = document.createElement('div');
            let parent_holder = document.createElement('div');
            let cover = document.createElement('img');
            let play_button = document.createElement('img');
            let waveholder_container = document.createElement('div');
            let track_info_name = document.createElement('p');
            let track_info_author = document.createElement('p');
            let info_container = document.createElement('div');
            let info_container_inner_one = document.createElement('div');
            let info_container_inner_two = document.createElement('div');

            track_info_author.classList.add('author-name');
            info_container.classList.add('info-container');
            info_container_inner_one.classList.add('info-container-inner', 'first-inner-info');
            info_container_inner_two.classList.add('info-container-inner', 'second-inner-info');
            info_container_inner_two.append(track_info_author);
            info_container_inner_two.append(track_info_name);
            info_container_inner_one.append(play_button);
            info_container.append(info_container_inner_one);
            info_container.append(info_container_inner_two);
            track_info_name.innerHTML = songs[i].fields.name;
            track_info_author.innerHTML = songs[i].fields.artist;
            waveholder_container.classList.add('waveholder-info-container');
            cover.classList.add('waveform-cover');
            cover.src = '/media/' + songs[i].fields.image;
            play_button.src = '/static/images/play-button-profile.png';
            play_button.width = '40';
            play_button.classList.add('play-button-my-profile');
            holder.style.width = '100%';
            holder.id = 'waveform'+i
            holder.classList.add('waveform-container');
            waveholder_container.append(info_container);
            waveholder_container.append(holder);
            parent_holder.append(cover);
            parent_holder.append(waveholder_container);
            parent_holder.classList.add('waveform-container-parent');
            my_songs_container.append(parent_holder);

            song = songs[i].fields;
            var wavesurfer = WaveSurfer.create({
                container: '#waveform'+i,
                scrollParent: false,
                barWidth: 3,
                barHeight: 1, // the height of the wave
                barGap: null,
                height: 50,
                fillParent: true,
                responsive: false
            });

            wavesurfer.load("http://127.0.0.1:8000/media/" + songs[i].fields.audio);
            all_waveforms.push(wavesurfer);
        };

        let play_buttons = document.querySelectorAll('.play-button-my-profile');

        for(let p=0; p<all_waveforms.length; p++){
            play_buttons[p].addEventListener('click', function(){

                all_waveforms[p].on('pause', function() {
                    play_buttons[p].src = '/static/images/play-button-profile.png';
                });
                all_waveforms[p].on('play', function() {
                    console.log('it is a play');
                    play_buttons[p].src = '/static/images/pause-button.png';
                });

                all_waveforms[p].playPause();
            });
        }

    </script>
</div>
{% endblock %}