{% extends "base-nav.html" %}
{% load static %}
{% load object_by_id %}
{% block maincontent %}
<div style="padding-top: 50px;" class="container d-flex flex-row justify-content-between">
{% csrf_token %}
{% for song in songs %}
            <div class="card"  id="{{ song.audio.url }}" style="width: 200px;">
                <!--  -->
                <!-- <a class="btn btn-primary audio-play">Play</a> -->
                <div class="cover-img-wrap">
                    <img class="audio-play play-button" src="{% static 'images/play-button.png' %}" alt="">
                    <img style="z-index: -1; width: 200px; height:170px;" src="{{ song.image.url }}" class="card-img-top">
                    <div class="black-overlay"></div>
                    <div data-id="{{ song.id }}" class="{{ song|object_by_id:user }}"></div>
                </div>
                <div style="color: #6c757d;" class="card-body">
                    <h5 style="margin-bottom: 0px;" class="card-title">{{ song.name }}</h5>
                    <small>Song by: {{ song.artist }}</small>
                </div>
            </div>
{% endfor %}
</div>
<script >

</script>
<script src="{% static 'js/custom.js' %}">

</script>
{% endblock %}
