* {
    font-family: Verdana;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
}

.circle-profile-image:hover {
    cursor: pointer;
}
.background-color {
    position: absolute;
    width: 98%;
    height: 200px;
    background: #f2f2f2;
    z-index: -1;
    border-radius: 15px;
    top: 120px;
}
.line {
    height: 2px;
    width: 100%;
    background: black;
}
.about-me {
    width: 70%;
    height: 70px;
    background: white;
}
.fav-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url('/static/images/lover_black.png');
    background-position: center;
    background-size: cover;
    transition-duration: 0.3s;
    z-index: 1000;
    opacity: 0;
}
.fav-btn:hover {
    cursor: pointer;
}
.favourite-song {
    background: url('/static/images/lover_red.png');
    background-position: center;
    background-size: cover;
}
.custom-messages-box {
    width: 400px;
    height: 50px;
    z-index: 999;
    border-radius: 10px;
    color: white;
    padding: 2px 10px;
}
.custom-messages-container {
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 999;
}
.card {
    border: none !important;
    transition-duration: 1s;
}
.card-body {
    padding: 0px !important;
}
.cover-img-wrap {
    position: relative;
}
.play-button {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    z-index: 99;
    cursor: pointer;
    opacity: 0;
    transition-duration: 0.3s;
}
.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    background: black;
    opacity: 0.0;
    transition-duration: 0.3s;
    cursor: pointer;
}
.waveform-cover{
    width: 100px;
    height: 100px;
}
.waveform-container{
    width: 100%;
}
.waveform-container-parent {
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 40px;
    position: relative;
}
.delete-song {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0;
}
.my-songs {
    padding: 50px 0px 0px 0px;
}
.waveholder-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.info-container {
    display: flex;
}
.first-inner-info {
    padding-left: 40px;
}
.second-inner-info {
    padding-left: 20px;
}
.info-container-inner p{
    margin: 0;
}
.author-name {
    font-size: 12px;
}
.play-button-my-profile {
    cursor: pointer;
}
.width-100-custom {
    width: 100% !important;
    order: -1;
}
.player-wrapper-fixed {
    height: 100px;
    position: fixed;
    bottom: 10px;
    left: 0;
    transition-duration: 1s;
}
.btn-icon {
    margin-right: 8px;
}
.init-call {
    bottom: -100px;
}
.show-hide-player {
    position: absolute;
    top: -100px;
    right: 0;
    background: rgba(0, 0, 0, 0.73);
    cursor: pointer;
    transform: rotate(0deg);
}
.show-hide {
    bottom: -100px;
}
.button-rotate {
    transform: rotate(180deg);
}
.menu-nav-item {
    margin-right: 30px;
    text-decoration: none;
}
.blog-post {
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: green;
    transition-duration: 0.5s;
    opacity: 1;
}
.blog-back-button {
    cursor: pointer;
}
.open-close-blog{
    left: -100%;
    opacity: 0;
}
.post-submit-form > *{
    margin-bottom: 20px;
}