{% extends 'base-nav.html' %}

{% block maincontent %}
    <form enctype="multipart/form-data" class="container d-flex flex-column justify-content-center align-items-center" action="{% url 'create_song' %}" method="POST">
        {% csrf_token %}
        <div style="width: 200px;" class="">
            <label for="name">Song title</label>
            {{ form.name }}
        </div>
        <div style="width: 200px;" class="">
            <label for="image">Choose your cover image</label>
            {{ form.image }}
        </div>
        <div style="width: 200px;" class="">
            <label for="audio">Upload audio</label>
            {{ form.audio }}
        </div>
        <button type="submit">Upload</button>
        <div style="width: 400px;" class="surfer"></div>
    </form>
    <script>
        let wavesurfer = new WaveSurfer.create({container: ".surfer"});

        let audio_input = document.querySelector("input[name='audio']");

        audio_input.addEventListener('change', function(){

            let file = document.querySelector("input[name='audio']").files[0];
            let reader = new FileReader();

            reader.onload = function(event){
                let blob = new window.Blob([new Uint8Array(event.target.result)]);

                wavesurfer.loadBlob(file);
            };
            reader.readAsArrayBuffer(file);

            wavesurfer.exportPCM()
            .then(function(data){
                let final_data = data;
                console.log(final_data);
            });

        });
    </script>
{% endblock %}