{% extends 'base-nav.html' %}

{% block maincontent %}
    <form enctype="multipart/form-data" class="container d-flex flex-column justify-content-center align-items-center" action="{% url 'create_song' %}" method="POST">
        {% csrf_token %}
        <div style="width: 200px;" class="">
            <label for="name">Song title</label>
            {{ form.name }}
        </div>
        <div style="width: 200px;" class="">
            <label for="image">Choose your cover image</label>
            {{ form.image }}
        </div>
        <div style="width: 200px;" class="">
            <label for="audio">Upload audio</label>
            {{ form.audio }}
        </div>
        <div style="width: 200px;" class="">
            {{ form.audio_waveform_data }}
        </div>
        <button type="submit">Upload</button>
        <div style="width: 400px;" class="surfer"></div>
    </form>
    <script>
        let wavesurfer_init = new WaveSurfer.create({container: ".surfer"});

        let audio_input = document.querySelector("input[name='audio']");

        audio_input.addEventListener('change', function(){

            let file = document.querySelector("input[name='audio']").files[0];
            let reader = new FileReader();

            reader.onload = function() {
                reader.result;
            };

            reader.readAsArrayBuffer(file);

            wavesurfer_init.loadBlob(file);
            wavesurfer_init.on('ready', function(){
                wavesurfer_init.exportPCM(1024, 10000, true, 0)
                .then(function(data){
                     let final_data = data;
                });
            });

        });
    </script>
{% endblock %}