<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
{% if user.is_authenticated %}
    {% csrf_token %}
{% endif %}
<audio class="main-audio-player" src=""></audio>
<nav class="navbar navbar-light bg-light">
      <div class="container">
          <div class="brand-and-image">
              <a href="{% url 'home' %}" class="navbar-brand">Musika</a>
              {% if user.is_authenticated %}
                  <a href="{% url 'profile' %}">
                      <img width="50" class="circle-profile-image rounded-circle" alt="50x50" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                    data-holder-rendered="true">
                  </a>
              {% endif %}
          </div>
          <form class="d-flex">
                  {% if user.is_authenticated %}
                  <a style="margin-right: 10px;" href="{% url 'create_song' %}" class="btn btn-outline-success" type="submit">Publish Song</a>
                  {% endif %}
          </form>
      </div>
</nav>
{% if messages %}
    {% for message in messages %}

    {% endfor %}
{% endif %}
<div style="width:400px;" class="custom-messages-container d-flex flex-column">

</div>
    {% include 'toast.html' %}
    {% block maincontent %}
    {% endblock %}
    <script src="{% static 'js/play-func.js' %}"></script>
    <script src="{% static 'js/stoc.js' %}"></script>
</body>
</html>