<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
      <div class="container">
          <div class="brand-and-image">
              <a class="navbar-brand">Navbar</a>
              {% if user.is_authenticated %}
              <a href="{% url 'profile' %}"><img width="50" class="circle-profile-image rounded-circle" alt="50x50" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
              data-holder-rendered="true"></a>
              {% endif %}
          </div>
          <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button style="margin-right: 10px;" class="btn btn-outline-success" type="submit">Search</button>
                  {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="btn btn-outline-success" type="submit">Logout</a>
                  {% else %}
                  <a style="margin-right: 10px;" href="{% url 'login' %}" class="btn btn-outline-success" type="submit">Login</a>
                  <a href="{% url 'register' %}" class="btn btn-outline-success" type="submit">Register</a>
                  {% endif %}
          </form>
      </div>
</nav>
    {% block maincontent %}
    {% endblock %}
</body>
</html>